<div class="container">
  <div class="user-details">
    <h3> Featured Projects </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="beer App" src="{{ "/assets/img/Beer-icon.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> InstaBeer </h5>
      <li> Android development, aws, Ionic</li>
      <p>A personal project of a social network about beers, where users can evaluate, share and rate beers and pubs.</p>
      <a class="project-link" href="#">Soon in play store</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="Facebook clone" src="{{ "/assets/img/facebook-icon.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Facebook clone </h5>
      <ul>
        <li> Spring, Java, SQL, Angular </li>
      </ul>
      <p>A facebook webpage clone, it was made to consolidate my learning of java backend, Angular frontend and web fullstack development in general.</p>
      <a class="project-link" href="#">In migration to github open project</a>
    </div>
  </div>
</div>
